*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px; 
    background-color: #00070f;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #be42f7; 
    border-radius: 5px; 
  }
  body::-webkit-scrollbar-track {
    background-color: #00070f; 
  }
/* variables */
:root{
    --blanco: #ffffff;
    --negro: #00070f;
    --gris: #434c5a;
    --morado: #be42f7;
}
/* variables */

.inicio{
    position: relative;
    top: 3em;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url(../SRC/fondo_principal.svg);
}

.inicio-cont{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

.registro-ingreso{
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 13em;
}
.nave{
    position: absolute;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:right;
}
.nave img{
    display: flex;
    width: 15em;
    height: 15em;
    position: relative;
    right: 8em;
}

.registro-ingreso h1{
    color: var(--morado);
    font-family: arial rounded mt;
    font-size: 2.8rem;
    width: fit-content;
}
.registro-ingreso-btn{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.registro-ingreso-btn a{
    padding: 5px 15px 5px 15px;
    border-radius: 100vh;
    color: var(--blanco);
    font-family: arial rounded mt;
    font-size: 1.4em;
    text-decoration: none;
    justify-content: center;
    transition: .2s;
    width: 46%;
    display: flex;
    margin: auto;
}

.btn-r{
    background-color: #434c5a;
    border: 3px solid #434c5a;
}
.btn-r:hover{
    color: var(--blanco);
    border: 3px solid var(--morado);
    background-color:var(--morado);
    transition:.2s;
}

.btn-i{
    border: 3px solid var(--blanco);
    color: var(--blanco);
}

.btn-i:hover{
    color: var(--morado);
    border: 3px solid var(--morado);
    transition:.2s;
}

@media only screen and (min-width:300px) and (max-width:620px){
    .inicio-cont{
        flex-direction: column;

    }
    .registro-ingreso{
        right: 0em;
        width: 100%;
        height: 100%;
        bottom: 5em;
    }
    .registro-ingreso h1{
        font-size: 2em;
    }
    .nave{
        position: relative;
        overflow:hidden;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .nave img{
        width: 15em;
        display: flex;
        right: 0px;
    }
    .registro-ingreso-btn{
        flex-direction: column;
    }
    .registro-ingreso-btn a {
        font-size: 0.9em;
        margin-top: 1em;
    }
}